@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Trykker&display=swap');

body {
  margin: 10%;
  margin-top: 1%;
  margin-bottom: 5%;
  font-family: Trykker;
  line-height: 30px;
  color: #fff2ccff;
  background: #4a2fa0ff;
  background-size: 1000% 1000%;
	-webkit-animation: gradientBG 40s ease infinite;
	        animation: gradientBG 40s ease infinite;
}

::-moz-selection {
  color: #4a2fa0ff;
  background: #fff2ccff;
}

::selection {
  color: #4a2fa0ff;
  background: #fff2ccff;
}

.App {
  margin: 0;
  padding: 0;
  
}

.fontFix {
  font-family: Rock Salt;
}

hr {
  margin-top: 3%;
  margin-bottom: 1%;
  opacity: 10%;
}

h1 {
  /* font-size: 50px; */
  font-family: Rock Salt;
  background: #fff2ccff;
  color: #4a2fa0ff;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 15px;
    /* width: 7%; */
    background: #fff2cc00;
    color: #fff2ccff;
  }
}

#mainText {
  font-family: Rock Salt;
  text-align: justify;
  text-justify: inter-word;
  break-word: break-all;
}

#artist {
  font-size: 20px;
  font-family: Rock Salt;
}

@media only screen and (max-width: 600px) {
  #mainText {
    line-height: 40px;
    font-size: 15px;
  }
}

@media only screen and (min-width: 600px) {
  #mainText {
    line-height: 80px;
    font-size: 15px;
  }
  #artist {
    font-size: 35px;
  }
}

.subText {
  font-size: 23px;
  text-align: center;
}

.subSubText {
  font-size: 13px;
  text-align: center;
}

.opacityText {
  opacity: 33%;
}

.opacityText:hover {
  opacity: 100% !important;
}

.nobr { white-space: nowrap; }

/* links */

a, .link {
  color: #fff2ccff;
  text-decoration-style: wavy;
  text-decoration-thickness: 4%;
  /* background: #00000020; */
  cursor: pointer;
}

a:hover {
  text-decoration-thickness: 8%;
  background: #00000080;
  font-style: italic;
}

#coffee {
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  animation-duration: 20s;
  /* animation-name: animateCoffee; */
  animation-iteration-count: infinite;
  box-shadow: 10px 10px 30px 8px #00000088;
  border: 3px dotted #fff2ccff;  
}

@-webkit-keyframes gradientBG {
    0% {
        background: #4a2fa0ff;
    }
    70% {
        background: #4a2fa0ff;
    }
    78% {
        background: #8d3535ff;
    }
    /* 86% {
        background: #30663bff;
    } */
    96% {
        background: #151518ff;
    }
    100% {
      background: #4a2fa0ff;
  }
}

@keyframes gradientBG {
  0% {
    background: #4a2fa0ff;
  }
  70% {
      background: #4a2fa0ff;
  }
  78% {
      background: #8d3535ff;
  }
  /* 86% {
      background: #30663bff;
  } */
  96% {
      background: #151518ff;
  }
  100% {
    background: #4a2fa0ff;
  }
}

@keyframes animateCoffee {
  0% { transform: translate(0px, 0px) rotate(0deg); }
  20% { transform: translate(-3px, -20px) rotate(1deg); }
  40% { transform: translate(1px, -1px) rotate(11deg); opacity: 100%; }
  50% { transform: translate(100px, 300px) rotate(7deg); opacity: 20%;}
  60% { transform: translate(0px, 1px) rotate(180deg); opacity: 100%; }
  80% { transform: translate(-100px, 400px) rotate(-4deg); opacity: 20%;}
  90% { transform: translate(0px, -200px) rotate(0deg); opacity: 100%;}
  100% { transform: translate(0px, 0px) rotate(180deg); }
}

.langSwitch {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
}

.langSwitcher {
  background: #00000020;
  border: none;
  color: #fff2ccff;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px;
  cursor: pointer;
  border-radius: 5px;
}

.langSwitcher:hover {
  background: #000000;
}

.active {
  background: #00000080;
}

.doubleFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
}

#map {
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 10px 10px 30px 4px #00000088;
}

.tooltip {
  position: relative;
  display: flex;
  justify-content: center;
  margin: auto;
}

.tooltip > p {
  border-bottom: 3px dotted #fff2cc77;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #fff2ccff;
  color: #4a2fa0ff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  line-height: normal;
  position: absolute;
  z-index: 1;
  bottom: -100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  cursor: default;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #fff2ccff transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#timetable {
  border-collapse: collapse;
  width: 100%;
}

#timetable td, #timetable th {
  border: 1px solid #fff2cc55;
  padding: 8px;
}

#timetable tr:nth-child(even) {
  background-color: #15151811
}

#timetable tr:hover {
  background-color: #15151888; 
}

#timetable th {
  padding-top: 12px;
  padding-bottom: 12px;
  color: white;
}

.swiper {
  margin: 2%;
  width: 100%;
  height: 500px;
  border-radius: 20px;
  box-shadow: 10px 10px 30px 4px #00000088;
  /* // gradient background */
  /* background: linear-gradient(45deg, #4a2fa0ff, #8d3535ff, #30663bff, #151518ff, #4a2fa0ff); */
  background: url(./assets/coffe-time-minify.svg);
  background-repeat: repeat;
  background-size: 10%;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center
}

.sliderText {
  color: #fff2ccff;
  font-size: 30px;
  padding: 12px;
  /* font-family: Rock Salt; */
  /* text-shadow: 2px 2px 4px #000000; */
  background: #4a2fa0ff;
  position: absolute;
  margin: 10%;
  bottom: 0;
  width: min-content;
}

.sliderTextSmall {
  color: #fff2ccaa;
  font-size: 10px;
  font-family: Trykker;
  /* text-shadow: 1px 1px 2px #000000; */
  background: #4a2fa0ff;
  line-height: 1.1;
  position: absolute;
  margin-left: 10%;
  margin-bottom: 5%;
  bottom: 0
}
